<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" href="{%static 'navbar.css'%}">
        <link rel="stylesheet" href="{%static 'faq.css' %}" />
        <link rel="stylesheet" href="{%static 'button.css' %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>	
        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet"> 
        <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
	</head>
	<style>
	</style>
	<body>
		<nav class="navbar navbar-light";>
            <a href="/home/" style="color: aliceblue;">Home</a>
		  </nav>
          {% block content %}
    {% load crispy_forms_tags %}

    <div class='container py-5'>
        <center><h2>Frequently Ask Question</h2></center>
    </div>
    {% endblock %}

    {% for faq in faqs %}
              <div class="container">
                <div class="accordion">
                  <div class="accordion-item" id="question-{{faq.question}}">
                    <a class="accordion-link" href="#question-{{faq.question}}">
                      <div class="flex">
                        
                        <h3> {{faq.question}}</h3>
                        
                      </div>
                      <i class="icon ion-md-arrow-forward"></i>
                      <i class="icon ion-md-arrow-down"></i>
                    </a>

                    <div class="answer">
                      <p> {{faq.answer}}</p>
                      {% if user.is_authenticated %}
                      <center><button style="background-color:#e00e0e"type="button" pk={{ faq.pk }} class="delete-faq btn btn-danger">Delete</button></p></center>
                      {% endif %}
                      <br>
                
                    </div>
                    
                    <hr>
                </div>
                </div>
               </div>
            {% endfor %}
            {% if user.is_authenticated %}

            <center><button class = "button" onclick="location.href = '/faq/formfaq'">Add FAQ</button></center>

            {% endif %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
              function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }
            $(document).ready(function(){
              $(".delete-faq").click(function(){
                    $.ajax({
                        url: "/faq/delete",
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        data: {
                            "id": $(this).attr('pk')
                        },
                        success: function(result){
                            location.reload();
                        },
                        error: function (err) {
                            console.error(err)
                        }
                    });
                });
            });
            </script>
          
        </body>
        
		
</html>