<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		{% load static %}
		<link rel="stylesheet" href="{%static 'simpleCentering.css'%}">
		<link rel="stylesheet" href="{%static 'navbar.css'%}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Daftar Pencari Donor</title>
	</head>
	<style>
	</style>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/home/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/tryLogin">Page Harus Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/login">Log in</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/logout">Log out</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/daftar">Daftar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cari-donor">Cari Donor</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/informasiUDD">Informasi UDD</a>
					</li>
					<li>
						<a class="nav-link" href="/faq">FAQ</a>
					</li>
				</ul>
			</div>
		</nav>
		<h1 style="margin: 20px;">Daftar Sebagai Pencari Donor</h1>
		<hr>
		{% load crispy_forms_tags %}
		<div id="alert-box"></div>
			<form action="" method="POST" id="formnya">
				{% csrf_token %}
				{{ form.nama|as_crispy_field }}
				{{ form.NIK|as_crispy_field }}
				{{ form.tanggal_Lahir|as_crispy_field }}
				<div class="row">
					<div class="col-6">
						{{ form.nomor_Telepon|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.golongan_Darah|as_crispy_field }}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form.provinsi|as_crispy_field }}
					</div>
					<div class="col-6">
						{{ form.kota|as_crispy_field }}
					</div>
				</div>
				<br>
				<button type="submit" class="btn btn-danger">Daftar</button>
			</form>
	</body>
	<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
	<script>
		const form = document.getElementById('formnya');
		form.addEventListener("submit", submitHandler);
		function submitHandler(e) {
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: '/FormCariDonor/',
				data: $("#formnya").serialize(),
				dataType: 'json',
				success: function() {
					alert("Berhasil Mendaftar");
					window.location = "/FormCariDonor/InformasiPencariDonor"
				}
			})
		}
	</script>
</html>

