<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
        <link rel="stylesheet" href="{%static 'simpleCentering.css'%}">
        <link rel="stylesheet" href="{%static 'navbar.css'%}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>List Pencari Donor - SU only</title>
  </head>
  <style>
       table, td, th {
      border: 1px solid black;
      color: #2f4129;
      text-align: center;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/tryLogin">Page Harus Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/daftar">Daftar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cari-donor">Cari Donor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informasiUDD">Informasi UDD</a>
                </li>
                <li>
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 style="color: #E45C5E;">List Pencari Donor</h1>
    <br>
    <table style="border-collapse:collapse; width:100%;">
        <tr>
          <th>Nama</th>
          <th>NIK</th>
          <th>Tanggal Lahir</th>
          <th>Nomor Telepon</th>
          <th>GolDar</th>
          <th>Provinsi</th>
          <th>Kota</th>
          <th>Edit</th>
        </tr>
        {% for i in data %}
        <tr>
        <td> {{ i.nama }} </td>
        <td> {{ i.NIK }} </td>
        <td> {{ i.tanggal_Lahir }} </td>
        <td> {{ i.nomor_Telepon }} </td>
        <td> {{ i.golongan_Darah }} </td>
        <td> {{ i.provinsi.nama }} </td>
        <td> {{ i.kota.nama }} </td>
        <td><a href='/FormCariDonor/EditData/{{ i.id }}'><button>Edit</button></td></a>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>

