<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<style>
    #myBtnContainer {
        margin-left: 75px;
        margin-right: 75px;
        margin-bottom: 25px;
    }

    @gray-darker:               #444444;
    @gray-dark:                 #696969;
    @gray:                      #999999;
    @gray-light:                #cccccc;
    @gray-lighter:              #ececec;
    @gray-lightest:             lighten(@gray-lighter,4%);

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

<!--    body {-->
<!--      color: @gray;-->
<!--      font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;-->
<!--      font-style: normal;-->
<!--      font-weight: 400;-->
<!--      letter-spacing: 0;-->
<!--      padding: 1rem;-->
<!--      text-rendering: optimizeLegibility;-->
<!--      -webkit-font-smoothing: antialiased;-->
<!--      -moz-osx-font-smoothing: grayscale;-->
<!--      -moz-font-feature-settings: "liga" on;-->
<!--    }-->

    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

    .btn {
      background-color: white;
      border: 1px solid @gray-light;
      //border-radius: 1rem;
      color: @gray-dark;
      padding: 0.5rem;
    }

    .btn--block {
      display: block;
      width: 100%;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

<!--    .filterdiv {-->
<!--      display: flex;-->
<!--      padding: 1rem;-->
<!--      @media(min-width: 40rem) {-->
<!--        width: 50%;-->
<!--      }-->
<!--      @media(min-width: 56rem) {-->
<!--        width: 33.3333%;-->
<!--      }-->
<!--    }-->

    .card {
      background-color: white;
      border-radius: 0.25rem;
      box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      &:hover {
        .card__image {
          filter: contrast(100%);
        }
      }
    }

    .card__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;
    }

    .card__title {
      color: @gray-dark;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .card__text {
      flex: 1 1 auto;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }


    #card {
        margin-left: 75px;
        margin-right: 75px;
    }

    .filterDiv {
      float: left;
      text-align: center;
      display: flex;
      padding: 1rem;
      @media(min-width: 40rem) {
        width: 50%;
      }
      @media(min-width: 56rem) {
        width: 33.3333%;
      }
      margin: 5px;
      display: none; /* Hidden by default */
    }

    /* The "show" class is added to the filtered elements */
    .show {
      display: block;
    }

    /* Style the buttons */
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      cursor: pointer;
    }

    /* Add a light grey background on mouse-over */
    .btn:hover {
      background-color: #ddd;
    }

    /* Add a dark background to the active button */
    .btn.active2 {
      background-color: #666;
      color: white;
    }



</style>
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'navbar.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Informasi Unit Donor Darah</title>
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/tryLogin">Page Harus Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/daftar">Daftar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/informasiUDD">Informasi UDD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--judul-->
<div class="container">
    {% block content %}
    {% load crispy_forms_tags %}

    <div class='container py-5'>
        <center><h2>Informasi Unit Donor Darah</h2></center>
        <center><p>Apabila anda tertarik untuk mendonorkan atau membutuhkan donor di UDD yang ada, mohon hubungi nomor telepon yang tertera untuk konfirmasi terlebih dahulu</p></center>
    </div>

    {% endblock %}

    <!-- Control buttons -->
    <div id="myBtnContainer">
      <button class="btn active2" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('goldarA')"> A</button>
      <button class="btn" onclick="filterSelection('goldarB')"> B</button>
      <button class="btn" onclick="filterSelection('goldarO')"> O</button>
      <button class="btn" onclick="filterSelection('goldarX')"> AB</button>
    </div>

    <ul class="cards">
        {% for stok in stocks %}
         <div class="filterDiv goldarA">
            <div class="card">
              <div class="card__image card__image--flowers"></div>
              <div class="card__content">
                <div class="card__title">{{stok.namaUDD}}</div>
                <p class="card__text"></p>
                <p class="card__text">Alamat: {{stok.alamatUDD}}</p>
                <p class="card__text">Nomor Telepon: {{stok.nomorUDD}}</p>
                <p class="card__text">Jumlah Stok: {{stok.JumlahStok}}</p>
                {% if user.is_authenticated %}
                <p><button style="background-color:#F2A6A6"type="button" pk={{ stok.pk }} class="delete-stok btn btn-danger">Delete</button></p>
                {% endif %}
                  <!--                <button class="btn btn&#45;&#45;block card__btn">Butuh stok donor</button>-->
              </div>
            </div>
         </div>
        {% endfor %}

        {% for stokb in stockbs %}
         <div class="filterDiv goldarB">
            <div class="card">
              <div class="card__image card__image--flowers"></div>
              <div class="card__content">
                <div class="card__title">{{stokb.namaUDD}}</div>
                <p class="card__text"></p>
                <p class="card__text">Alamat: {{stokb.alamatUDD}}</p>
                <p class="card__text">Nomor Telepon: {{stokb.nomorUDD}}</p>
                <p class="card__text">Jumlah Stok: {{stokb.JumlahStok}}</p>
                {% if user.is_authenticated %}
                <p><button style="background-color:#F2A6A6"type="button" pk={{ stokb.pk }} class="delete-stokb btn btn-danger">Delete</button></p>
                {% endif %}
<!--                <button class="btn btn&#45;&#45;block card__btn">Butuh stok donor</button>-->
              </div>
            </div>
         </div>
        {% endfor %}

        {% for stoko in stockos %}
         <div class="filterDiv goldarO">
            <div class="card">
              <div class="card__image card__image--flowers"></div>
              <div class="card__content">
                <div class="card__title">{{stoko.namaUDD}}</div>
                <p class="card__text"></p>
                <p class="card__text">Alamat: {{stoko.alamatUDD}}</p>
                <p class="card__text">Nomor Telepon: {{stoko.nomorUDD}}</p>
                <p class="card__text">Jumlah Stok: {{stoko.JumlahStok}}</p>
                {% if user.is_authenticated %}
                <p><button style="background-color:#F2A6A6"type="button" pk={{ stoko.pk }} class="delete-stoko btn btn-danger">Delete</button></p>
                {% endif %}
<!--                <button class="btn btn&#45;&#45;block card__btn">Butuh stok donor</button>-->
              </div>
            </div>
         </div>
        {% endfor %}

        {% for stokab in stockabs %}
         <div class="filterDiv goldarX">
            <div class="card">
              <div class="card__image card__image--flowers"></div>
              <div class="card__content">
                <div class="card__title">{{stokab.namaUDD}}</div>
                <p class="card__text"></p>
                <p class="card__text">Alamat: {{stokab.alamatUDD}}</p>
                <p class="card__text">Nomor Telepon: {{stokab.nomorUDD}}</p>
                <p class="card__text">Jumlah Stok: {{stokab.JumlahStok}}</p>
                {% if user.is_authenticated %}
                <p><button style="background-color:#F2A6A6"type="button" pk={{ stokab.pk }} class="delete-stokab btn btn-danger">Delete</button></p>
                {% endif %}
<!--                <button class="btn btn&#45;&#45;block card__btn">Butuh stok donor</button>-->
              </div>
            </div>
         </div>
        {% endfor %}

    </ul>

    {% if user.is_authenticated %}
    <button id="foot"><a href="/informasiUDD/pilihgoldar/">Menambah UDD</a></button>
    {% endif %}

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(let i = 0; i <ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
    }
    return "";
}

$(document).ready(function(){
    $(".delete-stok").click(function(){
            $.ajax({
                url: "/informasiUDD/delete",
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data: {
                    "id": $(this).attr('pk')
                },
                success: function(result){
                    location.reload();
                },
                error: function (err) {
                    console.error(err)
                }
            });
    });

    $(".delete-stoko").click(function(){
            $.ajax({
                url: "/informasiUDD/delete_o",
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data: {
                    "id": $(this).attr('pk')
                },
                success: function(result){
                    location.reload();
                },
                error: function (err) {
                    console.error(err)
                }
            });
    });

    $(".delete-stokb").click(function(){
            $.ajax({
                url: "/informasiUDD/delete_b",
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data: {
                    "id": $(this).attr('pk')
                },
                success: function(result){
                    location.reload();
                },
                error: function (err) {
                    console.error(err)
                }
            });
    });

    $(".delete-stokab").click(function(){
            $.ajax({
                url: "/informasiUDD/delete_ab",
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                data: {
                    "id": $(this).attr('pk')
                },
                success: function(result){
                    location.reload();
                },
                error: function (err) {
                    console.error(err)
                }
            });
    });

});



filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active2");
    current[0].className = current[0].className.replace(" active2", "");
    this.className += " active2";
  });
}
</script>

</body>
</html>

<!--Reference:
https://www.w3schools.com/howto/howto_js_filter_elements.asp-->