<!DOCTYPE html>
<html lang="en">

<style>

    .container {
        display: inline-block;
        text-align: center;

    }

    :root {
    --bg: #white;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
    }

    .wrapper {
        padding: 1.5rem 0;
        filter: url('#goo');
    }

    .button {
        display: inline-block;
        text-align: center;
        background: var(--color);
        color: var(--bg);
        font-weight: bold;
        padding: 1.18em 1.32em 1.03em;
        line-height: 1;
        border-radius: 1em;
        position: relative;
        min-width: 8.23em;
        text-decoration: none;
        font-family: var(--font);
        font-size: 1.25rem;
        margin-left: 50px;
    }

    .button:before,
    .button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        background: var(--color);
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }

    .button:before {
        top: -25%;
        left: 20%;
    }

    .button:after {
        bottom: -25%;
        right: 20%;
    }

    .button:hover:before,
    .button:hover:after {
        transform: none;
    }


    /* Demo styles */

    body {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bg)
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    {% block content %}

     <h2>Stok Golongan Darah yang Tersedia</h2>

    <div class="wrapper">
        <a class="button" href="/informasiUDD/forms">A</a>
    </div>

    <div class="wrapper">
        <a class="button" href="/informasiUDD/forms_b">B</a>
    </div>

    <div class="wrapper">
        <a class="button" href="/informasiUDD/forms_o">O</a>
    </div>
    <div class="wrapper">
        <a class="button" href="/informasiUDD/forms_ab">AB</a>
    </div>

     {% endblock %}
    <!-- Filter: https://css-tricks.com/gooey-effect/ -->
    <svg style="visibility: hidden; position: absolute;" width="5" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
            </filter>
        </defs>
    </svg>
</div>
</body>
</html>