<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'navbar.css'%}">
    <link rel="stylesheet" href="{%static 'simpleCentering.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% block content %}

    {% load crispy_forms_tags %}
    <div class='container py-5'>
        <h1>Login</h1>
        <form action="" method='POST' id='login_form'>
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class='btn btn=primary' type='submit'>Login</button>
        </form>
        <p class='text-center'>Don't have an account yet? register<a href="register"> here</a>.</p>
    </div>
    {% endblock content %}
</body>
</html>