<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'navbar.css'%}">
    <link rel="stylesheet" href="{%static 'indexHelloWorld.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/home/tryLogin">Page Harus Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
<body>
    <h1>YES berarti udah login kalo udh bisa masuk yey!</h1>
</body>
</html>